div#page-header {display: none;}
a.anchor {display: none;}
p.responsive-center {display: none;}

form.headerspace {display: none;}
.stat-block {display: none;}
.navbar {display: none;}
.copyright {display: none;}